.foot-text {
	margin: 0 auto;
	text-align: center;
}

/* Overlays */
.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #DDD;
	text-shadow: -2px -2px rgba(25,25,25,0.5);
	text-align: center;
	font-size: 72px;
	line-height: 5rem;
	top: 0;
	left: 0;
	z-index:4;
}

.topcoat-progress-bar {
position: relative;
z-index:3;
  overflow: hidden;
  width: 75%;
  height: 1.25rem;
  margin: 20px auto;
  border-radius: 12px;
  background-color: #373737;
  box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-progress-bar > .progress {
  display: block;
  height: 100%;
  border-radius: 12px 0 0 12px;
  background-color: #e0f0fa;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.progress--complete {
  width: 100%;
}
.progress--forever {
	position: absolute;
	left: 0; top: 0;
	width: 200%;
	background-repeat: repeat;
	background-image: url("../img/ui/ui-bg_diagonals-thick_15_0b3e6f_40x40.png");
	animation: scrollforever 5s linear infinite;
	transform: translate3d(0,0,0); /* Trick browser into using GPU */
}
@keyframes scrollforever {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%); }
}

/* Status indicators */
.statusbox {
	position:absolute;
	height: 10px;
	left: 0; bottom: 0;
	background-color: #DDD;
	border-top: 5px solid #999;
	overflow: hidden;
	padding: 5px;

	display: flex;
	justify-content: flex-start;
}

/* The foldy button */
.statustext {
	margin-right: 3px;
	padding-right: 3px;
}

.statustext>span {
	color: #666;
	text-align: center;
	font-size: 80%;
	line-height: 13px;
}

.statusbox:hover {
	height: 45px;
}

.statusbox:hover>.statustext>span {
	line-height:45px;
}

/* Colors */
.status-bad { background: #B00; }

.status-good { background: #0B0; }

.status-dev { background: #66B; }




/* Global animation junk! */
body
{
	/*transition: all 0.25s ease;
	transform: translate3d(0,0,0); /* Trick browser into using GPU */
	font-family: sans-serif
}

/* Fullscreen fix for Webkit */
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

li { list-style: none; }

/* Modal dialog */

.effeckt-modal-confirm,
.effeckt-modal-cancel
{
	line-height: 1.75rem;
	font-size: 1rem;
	padding-left: 15px;
	padding-right: 15px;
}


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}


.effeckt-modal-wrap {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 320px;
  min-width: 630px;
  z-index: 2000;
  display: none;
}

.effeckt-modal {
  visibility: hidden;
  backface-visibility: hidden;
}

.effeckt-show .effeckt-modal {
  visibility: visible;
}

.effeckt-overlay.effeckt-show {
  opacity: 1;
  visibility: visible;
}

.effeckt-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 250ms;
  z-index:1;
  background-color:rgba(0,0,0,0.5);
}

/*
  Individual modal styles with animations/transitions
*/

/* Effect 2: Slide from the right */

.md-effect-2 .effeckt-modal {
  transform: translateX(30%);
  opacity: 0;
  transition: 250ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.effeckt-show.md-effect-2 .effeckt-modal {
  transform: translateX(0);
  opacity: 1;
}


/* Flexbox layout! */
/* Main layouts */
/* Dark, bordery color: #036 */
/* Lighter, main blue: #183C63 */
/* Bright, activey blue: #4687ef */
/* Orange: #FF9148 */
/* Dull orange, the back of the scrollbar: #7f6157
/* Dull purple, for things like timeline bg: #635d62 */
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/*audio {
	width: 100%;
}*/

/* Touch style interface */
.touch .controls-container {
	order:2;
	height: auto;
	min-height: 2rem;
	height: 10vh;

}

/* Styles for the player controls */
.controls-container {
	width: 100vw;
	height: 19px;
	display: flex;

	color: #FF9148;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0ccd9+1,000c19+100 */
	background: #c0ccd9; /* Old browsers */
	background: -moz-linear-gradient(top, #c0ccd9 1%, #000c19 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #c0ccd9 1%,#000c19 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c0ccd9 1%,#000c19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0ccd9', endColorstr='#000c19',GradientType=0 ); /* IE6-9 */
}

.controls-container div {
	display: flex;
	flex: 0 1 auto;
	min-height: 17px;
	vertical-align:middle;
}

/* Give a one-pixel gap to show the gradient border through */
.controls-container>div {
	margin: 1px;
	margin-right: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d6389+0,072d53+100 */
	background: rgb(61,99,137); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkNjM4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzJkNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(61,99,137,1) 0%, rgba(7,45,83,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(61,99,137,1) 0%,rgba(7,45,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(61,99,137,1) 0%,rgba(7,45,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6389', endColorstr='#072d53',GradientType=0 ); /* IE6-8 */
}

.controls-container>div:last-of-type {
	margin-right: 1px;
}

.controls-container svg {
	height: 17px;
	width: 17px;
	shape-rendering: crispedges;
}

#playpause>svg:last-child { display:none; }
#playpause.controlsPlaying>svg:first-child {display:none;}
#playpause.controlsPlaying>svg:last-child {display:flex;}

#timeText, #loadPct {
	margin-left: 5px;
	margin-right: 15px;
	font-size: 10px;
	text-align:center;
	font-weight: bold;

	line-height: 0;
	margin-top: 50%;
}

.controls-container>.timebox, .timebox>.vbox{
	flex-grow: 1;
}

/* Centers the timeline track. */
.timebox>.vbox {
	justify-content: center;
	align-items: stretch;
}

#timeline, #loadBar, #playedBar {
	height: 5px;
	background: transparent;
}

#timeline {
	position: relative;
	overflow: hidden;
}

#loadBar, #playedBar {
	position: absolute;
	right: 0%;
	width: 100%;
}

#loadBar { background-color: #635d62; }
#playedBar { background-color: #FF9148; }

#playhead{
	position:absolute;
	width: 2px;
	height: 7px;
	top: 5px;
	background: #FF9148;
}

.volbox {
	align-items: center;
	padding-right:2px;
}

#volumeMute>svg:last-child { display:none; }
#volumeMute.controlsMuted>svg:first-child {display:none;}
#volumeMute.controlsMuted>svg:last-child {display:flex;}

#volumeBar {
	/*http://apps.eky.hk/css-triangle-generator/*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 20px 5px 0;
	border-color: transparent #FF9148 transparent transparent;
	-webkit-transform:rotate(360deg); /* fix for fuzzy */
}

/* An invisible hitbox to max volume */
#volumeMax {
	width:3px;
	height: 17px;
}



/* Styles for the second pane */

.playlist-container {
	flex: 1 1 auto;
	background-color: #183C63;
	color: #FF9148;
	position:relative;
	height: 100%;
	overflow:hidden;
}

.playlist {  position: relative; overflow:hidden; height: 100%;}

.playlist>li {
	border-bottom: 1px solid #036;
	padding: 3px 10px;
	font-size: 12px;
	overflow: visible; /* make this one big long pane */

	top:0;
}

.playlist>li:hover {
	background-color: #4687ef;
	color: #036;
}

.active-song {
	background-color: #FF9148;
	color: #036;
}

header h1, .nav-tabs{ display: flex; flex: 1 1 auto; }

/* Container list */
.nav-tabs ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;

	display: flex;
	flex: 1;
	align-self: flex-end;
	justify-content: flex-end;
}

/* Each list item */
.nav-tabs li {
	flex: 0 1 auto;
	margin: 0 0.5rem;
}

/* Text/link in each item */
.nav-tabs a {
    display: block;
    padding: 15px 1rem;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #2368BC; /*#e44d26; */
}

.nav-tabs a:hover,
.nav-tabs a:visited {
    color: white;
}

.nav-tabs a:hover {
    text-decoration: underline;
}


.main-container, .wrapper {
	position: relative;
	display: flex;
	justify-content: inherit; /* for the tabs who cannot have display:flex */
	max-height: 100%;
}

/* Items that do not grow or shrink */
.controls-container, .footer-container {
	flex: 0 0;
}

/* Items that do grow and shrink */
.playlist-container, .wrapper, #tab-panels {
	flex: 1 1 0;
}

/* Tab layouts */
#tab-panels { position: relative; }
.tab-panel { position: absolute; width: 100%; height: 100%; justify-content: space-between; }

/* Tab 503 layouts */
.hbox, .vbox {
	flex: 1 1 auto;
	display: flex;
	justify-content:space-between;
	position:relative;
}
.vbox { flex-direction: column; }
.hbox { flex-direction: row; }

.center { justify-content: center; }
.end { justify-content: flex-end; }
.aend { align-items: flex-end; }

.centertext { text-align: center; }

.nogrow { flex-grow: 0; }
.noshrink { flex-shrink: 0; }
.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }

.margins-tb { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.margins-lr { margin-left: 0.75rem; margin-right: 0.75rem; }

.halfview { max-width: 49.5%; } .mh100 { max-height: 100%; }/* REWORK: Why does output put so much pressure? */
.fullview { max-width: 90%; }
.minimized { background-color: #222; width: 50px; flex: 0 0 auto; }

.halfview, .fullview { justify-content: flex-start; }

#messagebox {
	position: absolute;
	z-index: 5;
	top: -35px;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	color: #DDD;
	line-height: 1.125rem;

}
.mboxsuccess { border: 1px solid #29FF19; background-color: rgba(41,255,25,0.25); }
.mboxerror { border: 1px solid #E60009; background-color: rgba(247,40,49,0.25); }
.mboxinfo { border: 1px solid #8BD5EA; background-color: rgba(53,209,255,0.25); }
.closebutton { position: absolute; top: 3px; right: 3px; }


/* Overrides on Topcoat */
.topcoat-list__container { overflow-y: scroll; }
.topcoat-list__item{ padding: 0.75rem 1.75rem; }
.topcoat-switch { z-index: 1; }
.topcoat-range { margin-top: .5em; width: 100%; }
.topcoat-button-bar__item:first-child .topcoat-button--large--cta { border-top-right-radius: 0; border-bottom-right-radius:0; } /* fix CTA on button bar */
.topcoat-button-bar__item:last-child .topcoat-button--large--cta { border-top-left-radius: 0; border-bottom-left-radius:0; }

.topcoat-button-bar__item > .topcoat-button-bar__button:not(:first-child),
.topcoat-button-bar__item > .topcoat-button-bar__button--large:not(:first-child)
{ border-left: 0; }

.topcoat-button-bar__item:last-child > .topcoat-button-bar__button:not(:last-child),
.topcoat-button-bar__item:last-child > .topcoat-button-bar__button--large:not(:last-child)
{ border-right: 0; }

.btnmiddle { border-left: 0; border-right: 0; } /* odd that this would need to be overridden */
legend { color: #DADADA; }

/* This is removed by UnCSS, even with ignores. This SHOULD be temporary. */
@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateX(0); } }


h2 { margin: 0; } /* Firefox, wtf? */

h5, h6 {
	margin: 0;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

h5 {
	color: #555;
}

h6 {
	font-size: 0.9em;
	color: #656565;
}

input[type=number] {
    width: 3rem;
}

/* Syntax highlighting */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

/* buttons */
.add, .remove, .reload { flex: 0 0 auto; }
.spacer { flex: 1 1 auto; }
.togglesimple { flex: 0 0 auto; }
.output-button { height: 2rem; flex: 1 0 auto; margin: 0 15px; }
#commit { flex: 2 1 auto; }

.remove, .shade
{ margin-left: 5px; margin-right: 5px; }

/* show remove and shade when you hover the element */
.remove,
.shade
{ opacity: 0; }

ul:hover .remove,
ul:hover .shade
{ opacity:0.5; }

ul:hover .remove:hover,
ul:hover .shade:hover
{ opacity:1; }


/* Cordon overlay */
.cordon { position: relative; }
.cordon:before {
	position:absolute;
	content: 'Under Construction';
	width: 100%;
	height: 100%;
	background-image: url("../img/ui/ui-bg_diagonals-thick_15_0b3e6f_40x40.png");
	opacity: 0.35;
	color: #FCFF63;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
}

/* Normal elements */
.separator:last-of-type, .separatorlight:last-of-type {
	border-right: none;
	margin-right: inherit;
	padding-right: inherit;
}
.separator, .separatorlight, .separator:only-of-type, .separatorlight:only-of-type {
	padding-right: 7px;
	margin-right: 7px;
}
.separator { border-right: 1px solid #222; }
.separatorlight { border-right: 1px solid #C5C3C2; }

span.label { font-weight: bold; }
span.value { font-style: italic; }

.labelsmall {
	margin: 0;
	font-style: italic;
	font-size: 85%;
	color: #888; /* add text-shadow on non-mobiles */
}

/* styles for the slider bar */
.measuremarks {
	position: relative;
	margin: 0 7px;
	display: flex;
	height: 1rem;
}

.measuremarks>div {
	position: relative;
	flex-grow: 1;
	height:5px;
	border-right: 1px solid #444;
}

.measuremarks>div:first-of-type {
	border-left: 1px solid #444;
}

/* the numbers */
.measuremarks span {
	position: absolute;
	font-size: 75%;
	font-style: italic;
	top: 100%;
}
.measuremarks>span {
	left: -0.25rem; /* the minimum mark */
	top: 5px; /* same as height */
}
.measuremarks>div>span {
	right: -0.25rem;
}


.shade {
	animate: all;
	animation: unflip 0.5s ease-in-out;
	animation-fill-mode:forwards;
/*
	background-image: url("../img/checkbox_unchecked_dark.png");
*/
}
.expandedbutton { width: 16px; right: 4px; background-image: url("../img/checkbox_checked_dark.png"); }

.flip {
	transform: translate3d(0,0,0);
	animation: flip 0.5s ease-in-out;
	animation-fill-mode:forwards;
}

@keyframes flip {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(180deg); }
}

@keyframes unflip {
	0% { transform: rotateZ(180deg); }
	100% { transform: rotateZ(360deg); }
}

.no-animation {
	animation: none;
}
