/* Overlays */
.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #DDD;
	text-shadow: -2px -2px rgba(25,25,25,0.5);
	text-align: center;
	font-size: 72px;
	line-height: 5rem;
	top: 0;
	left: 0;
	z-index:4;
}

.topcoat-progress-bar {
position: relative;
z-index:3;
  overflow: hidden;
  width: 75%;
  height: 1.25rem;
  margin: 20px auto;
  border-radius: 12px;
  background-color: #373737;
  box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-progress-bar > .progress {
  display: block;
  height: 100%;
  border-radius: 12px 0 0 12px;
  background-color: #e0f0fa;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.progress--complete {
  width: 100%;
}
.progress--forever {
	position: absolute;
	left: 0; top: 0;
	width: 200%;
	background-repeat: repeat;
	background-image: url("../img/ui/ui-bg_diagonals-thick_15_0b3e6f_40x40.png");
	animation: scrollforever 5s linear infinite;
	transform: translate3d(0,0,0); /* Trick browser into using GPU */
}
@keyframes scrollforever {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%); }
}

body
{
	font-family: "Titillium Web", sans-serif;
}

/* Fullscreen fix for Webkit */
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

li { list-style: none; }

input, select { color: #333; }

/* Modal dialog */

.effeckt-modal-confirm,
.effeckt-modal-cancel
{
	line-height: 1.75rem;
	font-size: 1rem;
	padding-left: 15px;
	padding-right: 15px;
}


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}


.effeckt-modal-wrap {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 320px;
  min-width: 630px;
  z-index: 2000;
  display: none;
}

.effeckt-modal {
  visibility: hidden;
  backface-visibility: hidden;
}

.effeckt-show .effeckt-modal {
  visibility: visible;
}

.effeckt-overlay.effeckt-show {
  opacity: 1;
  visibility: visible;
}

.effeckt-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 250ms;
  z-index:1;
  background-color:rgba(0,0,0,0.5);
}

/*
  Individual modal styles with animations/transitions
*/

/* Effect 2: Slide from the right */

.md-effect-2 .effeckt-modal {
  transform: translateX(30%);
  opacity: 0;
  transition: 250ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.effeckt-show.md-effect-2 .effeckt-modal {
  transform: translateX(0);
  opacity: 1;
}

.hbox, .vbox {
	flex: 1 1 auto;
	display: flex;
	justify-content:space-between;
	position:relative;
}
.vbox { flex-direction: column; }
.hbox { flex-direction: row; }

.center { justify-content: center; }
.end { justify-content: flex-end; }
.space { justify-content: space-around; }
.spread { justify-content: space-between; }
.aend { align-items: flex-end; }

.centertext { text-align: center; }

.nogrow { flex-grow: 0; }
.noshrink { flex-shrink: 0; }
.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }

.margins-tb { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.margins-lr { margin-left: 0.75rem; margin-right: 0.75rem; }

.fullwidth { width: 100%; }

.halfview { max-width: 49.5%; } .mh100 { max-height: 100%; }/* REWORK: Why does output put so much pressure? */
.fullview { max-width: 90%; }
.minimized { background-color: #222; width: 50px; flex: 0 0 auto; }

.halfview, .fullview { justify-content: flex-start; }


/* Flexbox layout! */
/* Main layouts */
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow:hidden;
}

/* Touch style interface */
html.layout-touch body, html.layout-touch>body>.vbox {
	flex-direction: column-reverse;
}

html.layout-touch .controls-container {
	height: 7vh;
}

html.layout-touch .controls-container>div, html.layout-touch #volumeMute {
	width: 7vh;
	height: 7vh;
}
html.layout-touch .controls-container svg {
	width: 100%;
	height: 100%;
}

html.layout-touch .playlist-container {
	height: 93vh;
}

html.layout-touch .controls-container .volbox {
	width: auto;
}

html.layout-touch #volumeMax {
	width: 7vh;
	height: 7vh;
}

/* An invisible hitbox to max volume */
html.layout-touch #volumeMax {
	width: 2vh;
	height: 7vh;
}

html.layout-touch #timeline, html.layout-touch #loadBar, html.layout-touch #playedBar {
	height: 3vh;
}

html.layout-touch #volumeBar {
	border-width: 2vh 11vh 2vh 0;
}

html.layout-touch #playhead{
	width: 0.25vh;
	height: 5vh;
	top: 50%;
	transform: translateY(-50%);
}

html.layout-touch .controls-text {
	font-size: 2vh;
}

html.layout-touch .playlist>li {
	padding: 0 1vw;
	line-height: 3vh;
	font-size: 2vh;
}

/* For theming, collect all items of the same color and theme them here. */

/* Orange: #FF9148 */
/* Items with fill */ g, rect, path { fill: #FF9148; }
/* Items with color */ .controls-container, .playlist-container, .optionsbox, #streambox { color: #FF9148; }
/* Items with background-color */
#playedBar,
#playhead,
.active-song,
.ps-theme-vip>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.ps-theme-vip>.ps-scrollbar-x-rail>.ps-scrollbar-x
{ background-color: #FF9148; }

/* Items with border color */ /*.optionsbox { border-color: #FF9148; }*/
/* Items with special triangle border color */ #volumeBar { border-color: transparent #FF9148 transparent transparent; }

/* Dark, bordery color: #036 */
/* Items with color */ .playlist>li:hover, .active-song { color: #003366; }
/* Items with border color */
.optionsbox,
.sep,
.playlist>li,
section,
.ps-theme-vip>.ps-scrollbar-y-rail,
.ps-theme-vip>.ps-scrollbar-x-rail
{ border-color: #003366; }

/* Lighter, main blue: #183C63 */
/* Items with background-color */ .playlist-container, .optionsbox { background-color: #183C63; }

/* Bright, activey blue: #4687ef */
/* Items with background-color */
.playlist>li:hover,
.ps-theme-vip:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
.ps-theme-vip.ps-in-scrolling>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.ps-theme-vip:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x,
.ps-theme-vip.ps-in-scrolling>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x
{ background-color: #4687ef; }


/* Dull orange, the back of the scrollbar: #7f6157 */
/* this should be an SCSS include later */
.ps-theme-vip>.ps-scrollbar-x-rail,
.ps-theme-vip>.ps-scrollbar-y-rail,
.ps-theme-vip.ps-in-scrolling>.ps-scrollbar-x-rail,
.ps-theme-vip.ps-in-scrolling>.ps-scrollbar-y-rail,
.ps-theme-vip:hover>.ps-scrollbar-y-rail:hover,
.ps-theme-vip:hover>.ps-scrollbar-x-rail:hover
{ background-color: #7f6157; }

/* Dull purple, for things like timeline bg: #635d62 */
/* Items with background-color */ #loadBar { background-color: #635d62; }

/* Gradients */
.controls-container, .effeckt-tabs { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0ccd9+1,000c19+100 */
	background: #c0ccd9; /* Old browsers */
	background: -moz-linear-gradient(top, #c0ccd9 0%, #000c19 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #c0ccd9 0%, #000c19 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c0ccd9 0%, #000c19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0ccd9', endColorstr='#000c19',GradientType=0 ); /* IE6-9 */
}

.controls-container>div, .effeckt-tabs>li, #streambox { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d6389+0,072d53+100 */
	background: #3D6389; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkNjM4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzJkNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #3D6389 0%, #072d53 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3D6389 0%, #072d53 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3D6389 0%, #072d53 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6389', endColorstr='#072d53',GradientType=0 ); /* IE6-8 */
}


/* Styles for the options menu */
.effeckt-tabs {
	display: flex;
}

.effeckt-tabs>li {
	text-align: center;
	flex: 1 1 auto;
}

.effeckt-tabs>li>a {
	display: block;
	padding: 0.5vh 0.5vw;
}

.effeckt-tab-content {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	box-sizing: border-box;

	box-shadow: -5px -5px 10px 0 rgba(0,0,0,0.2) inset;
}

#tab-songinfo>.infopane-h, #streambox>.infopane-h {
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 30%);
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 30%);
	background: linear-gradient(135deg, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 );
}

#oboxSongTitle, #oboxSongCreator,
#sboxSongTitle, #sboxSongCreator
{
	text-shadow: 1px 1px 2px #222, 2px 0 1px #222;
}

.fade {
	transition: opacity 250ms ease;
	opacity: 1;
}

.fadeout { opacity: 0; }




/* Styles for the player controls */
.controls-container {
	height: 19px;
	display: flex;
	flex: 0 0 auto;
	align-self: flex-start;
	overflow:hidden;
}

.vbox.controls-container {
	height: auto;
	width: 19px;
}

.controls-container div {
	display: flex;
	flex: 0 0 auto;
	vertical-align:middle;
}

.spacer {
	width: 25px;
}

/* Give a one-pixel gap to show the gradient border through */
.controls-container>div, .effeckt-tabs>li {
	margin: 1px;
	margin-right: 0;
}

.vbox.controls-container>div {
	margin: 1px;
	margin-bottom: 0;
}

.controls-container>div:last-of-type, .effeckt-tabs>li:last-of-type {
	margin-right: 1px;
}

.vbox.controls-container>div:last-of-type, {
	margin-bottom: 1px;
}

.controls-container svg {
	height: 17px;
	width: 17px;
}

.controlsToggle>svg:last-child {display:none; }
.controlsToggle.toggled>svg:first-child {display:none;}
.controlsToggle.toggled>svg:last-child {display:flex;}


#timeProgText, #timeLoadPct {
	margin-left: 5px;
	margin-right: 15px;
}

.controls-text {
	line-height: 0;
	transform:translateY(50%); /* vertical centering on responsive display */
	font-size: 10px;
	text-align:center;
	font-weight: bold;
}

.controls-container>#timebox, #timebox>.vbox{
	flex-grow: 1;
}

/* Centers the timeline track. */
#timebox>.vbox {
	justify-content: center;
	align-items: stretch;
}

#timeline, #loadBar, #playedBar {
	height: 5px;
}

#timeline {
	position: relative;
	overflow: hidden;
}

#loadBar, #playedBar {
	position: absolute;
	width: 100%;
}

#loadBar { right: 0%; }
#playedBar { right: 100%; }

#playhead {
	position:absolute;
	width: 2px;
	height: 7px;
	top: 5px;
}

#controlsInfoBox {
	padding: 0 1vw;
	flex: 1 1 auto;
	justify-content: space-between;
}

.divide { margin: 0 0.25rem; }

#streambox { display: flex; }

#streambox .controls-container {
	position: absolute;
	right: 0; top: 0;
}

#streambox .controls-container .controls-text {
	margin: 0 5px;
}

.volbox {
	align-items: center;
	padding-right:2px;
}

#volumeBar {
	/*http://apps.eky.hk/css-triangle-generator/*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 20px 5px 0;
	-webkit-transform:rotate(360deg); /* fix for fuzzy */
}

/* An invisible hitbox to max volume */
#volumeMax {
	width:3px;
	height: 17px;
}

/*html.layout-touch .optionsbox {
	top: auto;
	left: 0;
	right: 0;
	bottom: 1vh;

	margin: 0 2.5vw;

	/*flex-direction: row;*/
/*}*/

.optionsbox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
/*
	border-width: 2px;
	border-style: solid;*/
}

html.layout-touch section label /* to expand the hitbox */
{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;

	padding: 2vh 0;
}

section label {
	padding: 5px 0;
}

html.layout-touch section>div {
	margin: 0.5vh 1vw;
}

section>div {
	display: flex;
	flex: 1 1 auto;

	margin: 3px 10px;

	justify-content: space-around;
}

.optionsbox .topcoat-checkbox__checkmark,
.optionsbox input:first-child
{ margin-right: 10px; }

.optionsbox select:first-child
{ margin-left: 10px; }

section, .sep { /* width big when horizontal, some amount of separation when vertical, change border edge */ }

section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	padding: 3px 10px;
}

html.layout-touch section {
	flex-direction: row;
}

/*html.layout-touch .sep {
	width: 93vw;
}*/

.sep {
	border-bottom-width: 1px;
	border-bottom-style: solid;

	margin: 5px 10px;
	height: 0;
}

.optionsbox span { text-align:center; }

/* Styles for the second pane */

.playlist-container {
	flex: 1 1 auto;
	flex-direction: column;
	position:relative;
	height: 100%;
	overflow:hidden;
}

.playlist {
	position: relative;
	overflow:hidden;
	height: 100%;
}

.playlist>li {
	padding: 0 10px;
	line-height: 22px;
	font-size: 12px;
	overflow: visible; /* make this one big long pane */

	top:0;

	border-bottom-width: 1px;
	border-bottom-style: solid;
}

header h1 { display: flex; flex: 1 1 auto; }


/* Items that do grow and shrink */
.playlist-container {
	flex: 1 1 0;
}

.infopane-h, .infopane-v {
	display: flex;
	flex: 1 1 auto;
}

.infopane-h {
	flex-direction: row;
	padding: 0.5vh 1vw;
}

.infopane-v {
	flex-direction: column;
	padding: 1vh 0.5vw;
}

#messagebox {
	position: absolute;
	z-index: 5;
	bottom: auto; right: auto;
	top: 35px;
	left: 15px;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	color: #DDD;
	line-height: 1.125rem;

}
.mboxsuccess { border: 1px solid #29FF19; background-color: rgba(41,255,25,0.25); }
.mboxerror { border: 1px solid #E60009; background-color: rgba(247,40,49,0.25); }
.mboxinfo { border: 1px solid #8BD5EA; background-color: rgba(53,209,255,0.25); }
.closebutton { position: absolute; top: 3px; right: 3px; }

html.layout-touch #messagebox {
	top: auto; right: auto;
	bottom: 35px;
	left: 15px;
}

html.layout-streambox #messagebox, html.layout-streambar #messagebox {
	top: auto; left: auto; right: auto;
	bottom: 0;
	left: 15px;
}

/* Overrides on Topcoat */
.topcoat-list__container { overflow-y: scroll; }
.topcoat-list__item{ padding: 0.75rem 1.75rem; }
.topcoat-switch { z-index: 1; }
.topcoat-range { margin-top: .5em; width: 100%; }
.topcoat-button-bar__item:first-child .topcoat-button--large--cta { border-top-right-radius: 0; border-bottom-right-radius:0; } /* fix CTA on button bar */
.topcoat-button-bar__item:last-child .topcoat-button--large--cta { border-top-left-radius: 0; border-bottom-left-radius:0; }

.topcoat-button-bar__item > .topcoat-button-bar__button:not(:first-child),
.topcoat-button-bar__item > .topcoat-button-bar__button--large:not(:first-child)
{ border-left: 0; }

.topcoat-button-bar__item:last-child > .topcoat-button-bar__button:not(:last-child),
.topcoat-button-bar__item:last-child > .topcoat-button-bar__button--large:not(:last-child)
{ border-right: 0; }

.btnmiddle { border-left: 0; border-right: 0; } /* odd that this would need to be overridden */
legend { color: #DADADA; }

/* This is removed by UnCSS, even with ignores. This SHOULD be temporary. */
@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateX(0); } }


h2 { margin: 0; } /* Firefox, wtf? */

h5, h6 {
	margin: 0;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

h5 {
	color: #555;
}

h6 {
	font-size: 0.9em;
	color: #656565;
}

input[type=number] {
    width: 3rem;
}

/* Syntax highlighting */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

/* Cordon overlay */
.cordon { position: relative; }
.cordon:before {
	position:absolute;
	content: 'Under Construction';
	width: 100%;
	height: 100%;
	background-image: url("../img/ui/ui-bg_diagonals-thick_15_0b3e6f_40x40.png");
	opacity: 0.35;
	color: #FCFF63;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
}

span.label { font-weight: bold; }
span.value { font-style: italic; }

.labelsmall {
	margin: 0;
	font-style: italic;
	font-size: 85%;
	color: #888; /* add text-shadow on non-mobiles */
}

/* styles for the slider bar */
.measuremarks {
	position: relative;
	margin: 0 7px;
	display: flex;
	height: 1rem;
}

.measuremarks>div {
	position: relative;
	flex-grow: 1;
	height:5px;
	border-right: 1px solid #444;
}

.measuremarks>div:first-of-type {
	border-left: 1px solid #444;
}

/* the numbers */
.measuremarks span {
	position: absolute;
	font-size: 75%;
	font-style: italic;
	top: 100%;
}
.measuremarks>span {
	left: -0.25rem; /* the minimum mark */
	top: 5px; /* same as height */
}
.measuremarks>div>span {
	right: -0.25rem;
}


.shade {
	animate: all;
	animation: unflip 0.5s ease-in-out;
	animation-fill-mode:forwards;
/*
	background-image: url("../img/checkbox_unchecked_dark.png");
*/
}
.expandedbutton { width: 16px; right: 4px; background-image: url("../img/checkbox_checked_dark.png"); }

.flip {
	transform: translate3d(0,0,0);
	animation: flip 0.5s ease-in-out;
	animation-fill-mode:forwards;
}

@keyframes flip {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(180deg); }
}

@keyframes unflip {
	0% { transform: rotateZ(180deg); }
	100% { transform: rotateZ(360deg); }
}

.no-animation {
	animation: none;
}

.hidden {
	display: none;
	visibility: hidden;
}
