/node_modules/*
!/node_modules
!/node_modules/perfect-scrollbar

/dist
/dist/*

/generated
/generated/*

/css/modules/*
/css/*
!/css/disabled/*
!/css/main.css
!/css/topcoat-desktop-dark.css
!/css/boilerplate.css
!/css/custom.css

/js/plugins.js

npm-debug.log
