<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" ng-app="vip"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="" ng-app="vip"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="" ng-app="vip"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="aersia"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><!--%= friendlyname --> v<!--%= version --></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Generated favicons -->
        <!--%= favicons -->

        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/tidy.min.css">

        <script src="assets/js/modernizr.js"></script>
    </head>
    <body ng-controller="aersiaController as aersiaCtrl">
        <!--%= compiledicons -->
        <!--%= compiledlayouts -->
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- Modal dialog. Future functionality?
		<div class="effeckt-modal-wrap" id="effeckt-modal-wrap"> <!-- for centering transform --><!--
			<div class="effeckt-modal topcoat-overlay" id="effeckt-modal">
				<h1></h1>
				<div class="effeckt-modal-content">
					<p>Are you sure?</p>
				</div>
				<div class="topcoat-overlay-buttons">
					<button class="effeckt-modal-cancel topcoat-button">Cancel</button>
					<button class="effeckt-modal-confirm topcoat-button--cta">Commit</button>
				</div>
			</div>
		</div>
		<div class="effeckt-overlay" id="effeckt-overlay"></div>
    -->

        <!-- <div class="header-container">
            <header>
				<div class="vbox">
					<h1 class="title"><!--%= friendlyname --><!--</h1>
					<h4 id="logintext"></h4>
                </div>
                <!-- Tab buttons
                <div class="nav-tabs">
                    <ul>
                        <li><a href="#tab-dummy"></a></li>
                    </ul>
                </div> --><!--
            </header>
        </div> -->

        <div class="optionsbox" ng-show="aersiaCtrl.optionsBoxShown">
            <div class="effeckt-tabs-wrap" data-effeckt-type="slide-left">
                <div class="effeckt-tabs">
                    <li><a data-tab-id="#tab-songinfo" class="effeckt-tab">Current Song</a></li>
                    <li><a data-tab-id="#tab-layout" class="effeckt-tab">Layout</a></li>
                    <li><a data-tab-id="#tab-player" class="effeckt-tab">Player</a></li>
                    <li><a data-tab-id="#tab-theme" class="effeckt-tab">Theme</a></li>
                    <li><a data-tab-id="#tab-question" class="effeckt-tab">???????</a></li>
                </div>
                <div class="effeckt-tabs-container">

                    <div id="tab-songinfo" class="effeckt-tab-content">
                        <div class="hbox nogrow"> <!-- Image and controls near image -->
                            <div class="vbox"><img id="songimg" src="assets/img/placeholder.png" /></div>
                        </div>

                        <!-- Song information, links, etc. -->
                        <div class="infopane-h">
                            <div class="vbox">
                                <li id="curSongTitle">Loading...</li>
                                <li id="curSongCreator">Loading...</li>
                                <li><strike>album name?</strike></li>
                                <div class="controls-container">
                                    <div id="toggleShuffle" class="controlsToggle" ng-click="aersiaCtrl.toggleShuffle();">
                                        <svg width="17px" height="17px" ><use xlink:href="#icon-poweron" /></svg>
                                        <svg width="17px" height="17px" ><use xlink:href="#icon-poweroff" /></svg>
                                    </div>

                                    <div style="display:none;">
                                        <div class="spacer"></div>
                                        <div id="rateup" ng-click="aersiaCtrl.rateUp();">
                                            <svg width="17px" height="17px" ><use xlink:href="#icon-rateup" /></svg>
                                        </div>
                                        <div id="ratedown" ng-click="aersiaCtrl.rateDown();">
                                            <svg width="17px" height="17px" ><use xlink:href="#icon-ratedown" /></svg>
                                        </div>
                                        <div class="controls-text" id="curSongRating" >0</div>
                                    </div>
                                    <div class="spacer"></div>
                                    <div ng-click="aersiaCtrl.triggerLinkDownload(aersiaCtrl.songs[aersiaCtrl.curSong].location)" >
                                        <svg width="17px" height="17px" ><use xlink:href="#icon-download" /></svg>
                                    </div>
                                    <div id="copyBtn" >
                                        <svg width="17px" height="17px" ><use xlink:href="#icon-share" /></svg>
                                    </div>
                                </div>
                            </div>
                            <div class="vbox">
                                <section>
                                    <div><label>
                                        Playlists
                                        <select name="preset" ng-model="aersiaCtrl.selectedPlaylist" ng-change="aersiaCtrl.changePlaylist();" />
                                            <option ng-repeat="(option,null) in aersiaCtrl.playlists" value="{{option}}">{{aersiaCtrl.playlists[option].longName}}</option>
                                        </select>
                                    </label></div>
                                </section>
                                <div class='sep'></div>
                                <section>
                                    <div><label class="topcoat-checkbox"><input type="checkbox" name="autoplay" ng-model="aersiaCtrl.autoplay" /><div class="topcoat-checkbox__checkmark"></div>Autoplay</label></div>
                                    <div><label class="topcoat-checkbox"><input type="checkbox" name="anims" ng-model="aersiaCtrl.animationsEnabled" /><div class="topcoat-checkbox__checkmark"></div>Scroll Smooth</label></div>
                                </section>
                            </div>
                            <!-- Song remix information -->
                            <div class="infopane-v space" ng-show="aersiaCtrl.songs[aersiaCtrl.curSong].remixes.length >= 0">
                                <div>Remixes
                                    <div class="playlist">
                                        <li ng-click="aersiaCtrl.playSong($index)"
                                            ng-repeat="song in aersiaCtrl.songs[aersiaCtrl.curSong].remixes track by $index">{{song.creator}} - {{song.title}}</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-layout" class="effeckt-tab-content">
                        <div class="infopane-h space">

                            <!-- put boxes here for each layout, create switcher method in js -->
                            <div class="vbox centertext" ng-repeat="(name,obj) in aersiaCtrl.layouts" ng-click="aersiaCtrl.switchLayout(name)">
                                <div>
                                    <svg width="120px" height="120px" ><use xlink:href="{{'#' + obj.href}}" /></svg>
                                </div>
                                <div>{{name}}</div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-player" class="effeckt-tab-content">
                        <div class="infopane-h">

                        </div>
                    </div>

                    <div id="tab-theme" class="effeckt-tab-content">
                        <section>
                            <div><label>
                                Presets
                                <select name="preset" ng-model="aersiaCtrl.selectedPreset" ng-change="aersiaCtrl.loadPreset();" />
                                    <option ng-repeat="(option,style) in aersiaCtrl.presetStyles" value="{{option}}">{{option}}</option>
                                </select>
                            </label></div>
                        </section>
                        <div class="sep"></div>
                        <section>
                            <div><label><input type="color" name="colorfocus" ng-model="aersiaCtrl.currentStyles.focus" ng-change="aersiaCtrl.changeStyle('focus');" />Focus</label></div>
                            <div><label><input type="color" name="colorbackground" ng-model="aersiaCtrl.currentStyles.background" ng-change="aersiaCtrl.changeStyle('background');" />Background</label></div>
                            <div><label><input type="color" name="colorcontrast" ng-model="aersiaCtrl.currentStyles.contrast" ng-change="aersiaCtrl.changeStyle('contrast');" />Contrast</label></div>
                            <div><label><input type="color" name="coloractive" ng-model="aersiaCtrl.currentStyles.active" ng-change="aersiaCtrl.changeStyle('active');" />Active</label></div>
                            <div><label><input type="color" name="colorscrollbar" ng-model="aersiaCtrl.currentStyles.scrollbar" ng-change="aersiaCtrl.changeStyle('scrollbar');" />Scrollbar</label></div>
                            <div><label><input type="color" name="colorloadbar" ng-model="aersiaCtrl.currentStyles.loadbar" ng-change="aersiaCtrl.changeStyle('loadbar');" />Loadbar</label></div>
                            <div class='sep'></div>
                            <section>
                                <span>Controls Border</span>
                                <div>
                                    <input type="color" name="colorcontrolsoutstart" ng-model="aersiaCtrl.currentStyles.controlsout['0%']" ng-change="aersiaCtrl.changeGradient('controlsout');" />
                                    <input type="color" name="colorcontrolsoutend" ng-model="aersiaCtrl.currentStyles.controlsout['100%']" ng-change="aersiaCtrl.changeGradient('controlsout');" />
                                </div>
                            </section>
                            <section>
                                <span>Controls</span>
                                <div>
                                    <input type="color" name="colorcontrolsinstart" ng-model="aersiaCtrl.currentStyles.controlsin['0%']" ng-change="aersiaCtrl.changeGradient('controlsin');" />
                                    <input type="color" name="colorcontrolsinend" ng-model="aersiaCtrl.currentStyles.controlsin['100%']" ng-change="aersiaCtrl.changeGradient('controlsin');" />
                                </div>
                            </section>
                            <div class="sep"></div>
                            <section>
                                <button class="topcoat-button" ng-click="aersiaCtrl.triggerUpload()">Import</button>
                                <button class="topcoat-button" ng-click="aersiaCtrl.exportStyles()">Export</button>
                            </section>
                        </section>
                    </div>

                    <div id="tab-question" class="effeckt-tab-content">
                        <div style="font-size:48px;text-align:center">????????????</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="vbox">
            <div class="controls-container fullwidth">
    			<audio> <!--<script type="text/javascript">location.href='vip.swf';</script>--> <p>Your browser does not support the <code>audio</code> element.</p> </audio>
                <div id="playpause" class="controlsToggle" ng-click="aersiaCtrl.togglePlay();">
                    <svg width="17px" height="17px" ><use xlink:href="#icon-play" /></svg>
                    <svg width="17px" height="17px" ><use xlink:href="#icon-pause" /></svg>
                </div>
                <div id="prev" ng-click="aersiaCtrl.seek(-1);">
                    <svg width="17px" height="17px" ><use xlink:href="#icon-prev" /></svg>
                </div>
                <div id="next" ng-click="aersiaCtrl.seek(1);">
                    <svg width="17px" height="17px" ><use xlink:href="#icon-next" /></svg>
                </div>
                <div class="timebox">
                    <div class="controls-text" id="timeText">00:00</div>
                    <div class="vbox">
                        <div id="timeline" ng-click="aersiaCtrl.seekBar($event);">
                            <div id="loadBar"></div>
                            <div id="playedBar"></div>
                        </div>
                        <div id="playhead"></div>
                    </div>
                    <div class="controls-text" id="loadPct">0%</div>
                </div>
                <div id="gear" ng-click="aersiaCtrl.toggleOptionsBox();">
                <svg width="17px" height="17px" ><use xlink:href="#icon-gear" /></svg>
                </div>
                <div id="fullscreen" ng-click="aersiaCtrl.toggleFullscreen();">
                <svg width="17px" height="17px" ><use xlink:href="#icon-fullscreen" /></svg>
                </div>
                <div class="volbox hbox">
                    <div id="volumeMute" class="controlsToggle" ng-click="aersiaCtrl.toggleMute();" ng-class="{ toggled: aersiaCtrl.prevVolume === 0 }">
                        <svg width="17px" height="17px" ><use xlink:href="#icon-vol" /></svg>
                        <svg width="17px" height="17px" ><use xlink:href="#icon-volMute" /></svg>
                    </div>
                    <div id="volumeBar" ng-click="aersiaCtrl.volume($event);">
                    </div>
                    <div id="volumeMax" ng-click="aersiaCtrl.volume('',1);">
                    </div>
                </div>
            </div>

            <div class="playlist-container hbox">
                <div class="playlist vbox" id="playlist">
                    <li ng-click="aersiaCtrl.playSong($index)"
                        ng-repeat="song in aersiaCtrl.songs track by $index">{{song.creator}} - {{song.title}}</li>
                </div>
            </div>
        </div>
        <!-- <div class="footer-container">
        <div class="statusbox"><div class="statustext"><span>Status</span></div></div>
            <footer class="wrapper hbox">
                <div class="hbox"><h3 class="foot-text">Authorized users only</h3></div>
            </footer>
        </div> -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="assets/js/js.cookie.js"></script>
        <script src="assets/js/logger.js"></script>
        <script src="assets/js/x2js.js"></script>
        <script src="assets/js/perfect-scrollbar.js"></script>
        <script src="assets/js/angular.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
